.social-login 
    button.social-login__github 
        span 
            i.fab.fa-github
        |  Continue width Github
    button.social-login__facebook
        span 
            i.fab.fa-facebook
        |  Continue width Facebook